In [1]:
import tensorflow as tf 
# Get the GPU device name.
device_name = tf.test.gpu_device_name()

# The device name should look like the following:
if device_name == '/device:GPU:0':
    print('Found GPU at: {}'.format(device_name))
else:
    raise SystemError('GPU device not found')

2022-04-15 10:23:57.587307: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1

Found GPU at: /device:GPU:0

2022-04-15 10:23:58.601661: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-04-15 10:23:58.602700: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcuda.so.1
2022-04-15 10:23:58.629995: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-04-15 10:23:58.630265: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1720] Found device 0 with properties:
pciBusID: 0000:01:00.0 name: NVIDIA GeForce GTX 1070 computeCapability: 6.1
coreClock: 1.7845GHz coreCount: 15 deviceMemorySize: 7.93GiB deviceMemoryBandwidth: 238.66GiB/s
2022-04-15 10:23:58.630277: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1
2022-04-15 10:23:58.631404: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublas.so.10
2022-04-15 10:23:58.631428: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublasLt.so.10
2022-04-15 10:23:58.632477: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcufft.so.10
2022-04-15 10:23:58.632641: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcurand.so.10
2022-04-15 10:23:58.633819: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcusolver.so.10
2022-04-15 10:23:58.634469: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcusparse.so.10
2022-04-15 10:23:58.636919: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudnn.so.7
2022-04-15 10:23:58.637005: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-04-15 10:23:58.637302: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-04-15 10:23:58.637402: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1862] Adding visible gpu devices: 0
2022-04-15 10:23:58.637425: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1
2022-04-15 10:23:58.986884: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1261] Device interconnect StreamExecutor with strength 1 edge matrix:
2022-04-15 10:23:58.986906: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1267]      0
2022-04-15 10:23:58.986911: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1280] 0:   N
2022-04-15 10:23:58.987063: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-04-15 10:23:58.987247: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-04-15 10:23:58.987358: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-04-15 10:23:58.987449: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1406] Created TensorFlow device (/device:GPU:0 with 6540 MB memory) -> physical GPU (device: 0, name: NVIDIA GeForce GTX 1070, pci bus id: 0000:01:00.0, compute capability: 6.1)
2022-04-15 10:23:58.987651: I tensorflow/compiler/jit/xla_gpu_device.cc:99] Not creating XLA devices, tf_xla_enable_xla_devices not set

In [2]:
import pandas as pd

In [25]:
cols = ["date", "tweet", "sentiment"]
df_new = pd.read_csv('CSVFiles/bitcointweets-new.csv')
df_new = df_new.iloc[:,[0,1,7]]
df_new.columns = cols 
df_new

,date,tweet,sentiment
0,Fri Mar 23 00:40:34 +0000 2018,@lopp @_Kevin_Pham @psycho_sage @naval But @Pr...,['neutral']
1,Fri Mar 23 00:40:35 +0000 2018,RT @tippereconomy: Another use case for #block...,['positive']
2,Fri Mar 23 00:40:36 +0000 2018,free coins https://t.co/DiuoePJdap,['positive']
3,Fri Mar 23 00:40:36 +0000 2018,RT @payvxofficial: WE are happy to announce th...,['positive']
4,Fri Mar 23 00:40:36 +0000 2018,Copy successful traders automatically with Bit...,['positive']
...,...,...,...
50853,Fri Mar 23 08:55:16 +0000 2018,RT @fixy_app: Fixy Network brings popular cryp...,['positive']
50854,Fri Mar 23 08:55:17 +0000 2018,RT @bethereumteam: After a successful launch o...,['positive']
50855,Fri Mar 23 08:55:18 +0000 2018,"RT @GymRewards: Buy #GYMRewards Tokens, Bonus ...",['neutral']
50856,Fri Mar 23 08:55:19 +0000 2018,I added a video to a @YouTube playlist https:/...,['positive']
50857,Fri Mar 23 08:55:19 +0000 2018,RT @Raybambs: Airdrop PhotoCoin Airdrop Round#...,['positive']

In [26]:
# convert all textual sentiment to numerical values 

for index, row in df_new.iterrows(): 
    if row['sentiment'] == "['neutral']":
        row['sentiment'] = 2 
    elif row['sentiment'] == "['positive']":
        row['sentiment'] = 1
    else:
        row['sentiment'] = 0

In [30]:
# extract neutral tweets 
df_neutral = df_new.loc[df_new['sentiment']==2]
df_neutral

,date,tweet,sentiment
0,Fri Mar 23 00:40:34 +0000 2018,@lopp @_Kevin_Pham @psycho_sage @naval But @Pr...,2
6,Fri Mar 23 00:40:37 +0000 2018,One click to start mining cryptocurrencies tog...,2
10,Fri Mar 23 00:40:40 +0000 2018,RT @livemarketcap: ICE Agency Charges Payza an...,2
11,Fri Mar 23 00:40:41 +0000 2018,RT @Vaultoro: We have all seen the HTTP protoc...,2
12,Fri Mar 23 00:40:42 +0000 2018,@eatBCH @Bitcoin @signalapp @myWickr @Samsung ...,2
...,...,...,...
50845,Fri Mar 23 08:55:14 +0000 2018,Bitcoin: Mastering Bitcoin: Discover How I (An...,2
50847,Fri Mar 23 08:55:14 +0000 2018,"#Zhao #Dong #Recounts How He Lost 9,000 #BTC h...",2
50850,Fri Mar 23 08:55:15 +0000 2018,Bitcoin Price Technical Analysis for 03/23/201...,2
50852,Fri Mar 23 08:55:16 +0000 2018,"RT @PhotoCoin_io: 2,000,000 PHT TOKEN #airdrop...",2
50855,Fri Mar 23 08:55:18 +0000 2018,"RT @GymRewards: Buy #GYMRewards Tokens, Bonus ...",2

In [53]:
df_old = pd.read_csv('CSVFiles/training-data-positive-and-negative-sentiment-english.csv')

In [54]:
df_old = df_old.drop('Unnamed: 0',axis=1)
# df_old.rename(columns={"Date": "date", "text":"tweet","Sentiment": "sentiment"})
df_old.columns = ['date', 'tweet', 'sentiment']

In [55]:
for index, row in df_old.iterrows(): 
    if row['sentiment'] == "Positive":
        row['sentiment'] = 1
    else:
        row['sentiment'] = 0

In [56]:
df_old

             date                                              tweet sentiment
0      2019-05-27  Ãˆ appena uscito un nuovo video! LES CRYPTOMONN...         1
1      2019-05-27  Cardano: Digitize Currencies; EOS https://t.co...         1
2      2019-05-27  Another Test tweet that wasn't caught in the s...         1
3      2019-05-27  Current Crypto Prices! \n\nBTC: $8721.99 USD\n...         1
4      2019-05-27  Spiv (Nosar Baz): BITCOIN Is An Asset &amp; NO...         1
...           ...                                                ...       ...
59495  2019-05-21  ðŸ’¯Selling Crazy Account!(aerial, black knight, ...         0
59496  2019-05-21  Invictus â€“ Providing Diversified Cryptocurrenc...         0
59497  2019-05-21  Bearish Divergences Form for Litecoin and Dash...         0
59498  2019-05-21  BITCOIN VOR PARABOLISCHERÂ WACHSTUMSPHASE https...         0
59499  2019-05-21  You Can Pay With BCH for Your Domain From Abac...         0

[59500 rows x 3 columns]

In [57]:
df_old_added_neutral = pd.concat([df_old, df_neutral], ignore_index=True)
df_old_added_neutral

,date,tweet,sentiment
0,2019-05-27,Ãˆ appena uscito un nuovo video! LES CRYPTOMONN...,1
1,2019-05-27,Cardano: Digitize Currencies; EOS https://t.co...,1
2,2019-05-27,Another Test tweet that wasn't caught in the s...,1
3,2019-05-27,Current Crypto Prices! \n\nBTC: $8721.99 USD\n...,1
4,2019-05-27,Spiv (Nosar Baz): BITCOIN Is An Asset &amp; NO...,1
...,...,...,...
81433,Fri Mar 23 08:55:14 +0000 2018,Bitcoin: Mastering Bitcoin: Discover How I (An...,2
81434,Fri Mar 23 08:55:14 +0000 2018,"#Zhao #Dong #Recounts How He Lost 9,000 #BTC h...",2
81435,Fri Mar 23 08:55:15 +0000 2018,Bitcoin Price Technical Analysis for 03/23/201...,2
81436,Fri Mar 23 08:55:16 +0000 2018,"RT @PhotoCoin_io: 2,000,000 PHT TOKEN #airdrop...",2
81437,Fri Mar 23 08:55:18 +0000 2018,"RT @GymRewards: Buy #GYMRewards Tokens, Bonus ...",2

In [59]:
df_old_added_neutral.to_csv('CSVFiles/bitcointweets-old-added-neutral.csv')